@mixin box-sizing($box-model : border-box) {
  -webkit-box-sizing: $box-model; // Safari <= 5
  -moz-box-sizing: $box-model; // Firefox <= 19
  box-sizing: $box-model;
}

@mixin bg-cores($lado, $cores...)
{
    @if ($lado == left)
    {
      background: linear-gradient(to left, $cores)
    }
    @else 
    {
        background: linear-gradient(to right, $cores)
    }
}

@mixin set-icon($principal, $hover)
{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover; 
    
    background-image: url($principal);
        &:hover,
        &:focus {
          background-image: url($hover);
        }
}

// Mixin para telas de até 600px de largura (dispositivos móveis)
@mixin for-phone-only {
  @media (max-width: 600px) { 
    @content; 
  }
}

// Mixin para telas entre 601px e 768px de largura (tablets em modo retrato)
@mixin for-tablet-portrait-up {
  @media (min-width: 601px) { 
    @content; 
  }
}

// Mixin para telas entre 769px e 992px de largura (tablets em modo paisagem)
@mixin for-tablet-landscape-up {
  @media (min-width: 769px) { 
    @content; 
  }
}

// Mixin para telas entre 993px e 1799px de largura (desktops)
@mixin for-desktop-up {
  @media (min-width: 993px) { 
    @content; 
  }
}

// Mixin para telas com 1800px ou mais de largura (desktops grandes)
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { 
    @content; 
  }
}