// =============================================================================
// CORES
// =============================================================================

$white: #ffffff !default;

//brand colors
$brand-primary: #a10000 !default;
$brand-complement: #131838 !default;
$brand-contrast: #ffcb32 !default;

//cinzas
$gray-darker:            #363636 !default;
$gray-dark:              #4f4f4f !default;
$gray:                   #9c9c9c !default;
$gray-light:             #a4a4a4 !default;
$gray-lighter:           #c1c1c1 !default;
$gray-lightest:          #f2f2f2 !default;

$black-special:          #191919 !default;
$black-special-light:    #272727 !default;
$black-special-lighter:  #5b5b5b !default;
$black-special-lightest: #bababa !default;

//auxiliar colors
$color-success:          #39aa17 !default;
$color-info:             #5bc0de !default;
$color-warning:          #f0ad4e !default;
$color-danger:           #ff0000 !default;

//solcial colors
$color-twitter:          #00acec !default;
$color-facebook:         #39589c !default;
$color-youtube:          #e3312f !default;
$color-instagram:        #315c85 !default;
$color-googleplus:       #dc4e41 !default;
$color-snapchat:         #e5d801 !default;
$color-whatsapp:         #0eb700 !default;
$color-linkedin:         #0077B5 !default;

//border-colors
$color-border: #d8d8d8;
$color-border-light: #ececec;
$color-border-dark: #bfbfbf;