html {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

body {
    //box-sizing: border-box;
    height: 100vh;
    background-color: #C4C4C4;    
}

a {
    text-decoration: none;
}

//-------------------------------------------

.fc-white {
    color: $white
}

//-------------------------------------------

// Font Size
.fs-sm { font-size: 14px; line-height: 21px; }  /* Small font size */
.fs-md { font-size: 16px; line-height: 24px; }  /* Medium font size */
.fs-lg { font-size: 18px; line-height: 27px; }  /* Large font size */
.fs-xl { font-size: 20px; line-height: 30px; }  /* Extra large font size */
.fs-xxl { font-size: 24px; line-height: 36px; } /* 2X Extra large font size */

//-------------------------------------------

.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }

//-------------------------------------------

.bg-red { background-color: red; }
.bg-blue { background-color: blue; }
.bg-green { background-color: green; }

//-------------------------------------------

.wrapper {
    
    max-width: 1980px;
    margin-left: auto;
    margin-right: auto;
}

//-------------------------------------------

.icon {
    
    &-whatsapp {
        @include set-icon('../../img/icon-whatsapp-white.svg', '../../img/icon-whatsapp-yellow.svg')
      }

      &-instagran {
        @include set-icon('../../img/icon-instagran-white.svg', '../../img/icon-instagran-yellow.svg')
      }

      &-facebook {
        @include set-icon('../../img/icon-facebook-white.svg', '../../img/icon-facebook-yellow.svg')
      }
  }

//-------------------------------------------  

.btn-primary {
    text-align: center;
    border-radius: 500px;
    padding: 7px 24px;
    margin-left: 15px;
    color: #402D09;
    background-color:#F9B025;

    &:hover
    {
        color: #402D09;
        background-color:#F9E8C7;
    }
}

.btn { 

    &.btn-secondary {

        display: inline-block;
        width: 250px;
        font-weight: 500;
        padding: 18px;
        text-align: center;
        border-radius: 16px;
        color: #402D09;
        background-color:#F9B025;
    
        &:hover
        {
            color: #BA7C11;
            background-color:#F9E8C7;
        }
    }

    &.green {

        color: #003318;
        background-color:#00FF75;
    
        &:hover
        {
            color: #006630;
            background-color:#CCFFE4;
        }
    }
}

//-------------------------------------------

@include for-tablet-portrait-up() {
    .fs-sm { font-size: 15px; line-height: 22.5px; }
    .fs-md { font-size: 17px; line-height: 25.5px; }
    .fs-lg { font-size: 19px; line-height: 28.5px; }
    .fs-xl { font-size: 21px; line-height: 31.5px; }
    .fs-xxl { font-size: 26px; line-height: 39px; }
}

@include for-tablet-landscape-up() {
    .fs-sm { font-size: 16px; line-height: 24px; }
    .fs-md { font-size: 18px; line-height: 27px; }
    .fs-lg { font-size: 20px; line-height: 30px; }
    .fs-xl { font-size: 22px; line-height: 33px; }
    .fs-xxl { font-size: 28px; line-height: 42px; }
}

@include for-desktop-up() {
    .fs-sm { font-size: 18px; line-height: 27px; }
    .fs-md { font-size: 20px; line-height: 30px; }
    .fs-lg { font-size: 22px; line-height: 33px; }
    .fs-xl { font-size: 24px; line-height: 36px; }
    .fs-xxl { font-size: 30px; line-height: 45px; }
}

@include for-big-desktop-up() {
    .fs-sm { font-size: 20px; line-height: 30px; }
    .fs-md { font-size: 22px; line-height: 33px; }
    .fs-lg { font-size: 24px; line-height: 36px; }
    .fs-xl { font-size: 26px; line-height: 39px; }
    .fs-xxl { font-size: 32px; line-height: 48px; }
}