.main {
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .first {

        display: flex;
        justify-content: center;

        .first-wrapper {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 30px;
            margin: 10px;

            div {

                &.left {

                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    gap: 30px;
                    min-width: 50%;
                    max-width: 624px;
                    order: 2;
                }

                &.right {

                    min-width: 50%;
                    max-width: 600px;
                    background-size: cover;
                    order: 1;

                    img {
                        width: 100%;
                        height: auto;

                        // Exibe a imagem menor por padrão (mobile-first)
                        &:nth-child(1) {
                            display: block;
                        }

                        // Esconde a imagem maior por padrão
                        &:nth-child(2) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .second {

        display: flex;
        justify-content: center;
        background: url('../img/patter-35.png'), #00296F;
        background-size: 70px;

        .second-wrapper {
            display: flex;
            flex-direction: column;
            padding: 30px;

            div {

                &.left {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 32px;
                    order: 2;
                }

                &.right {

                    display: flex; // Torna o .right um contêiner flexível
                    justify-content: center; // Centraliza a imagem horizontalmente
                    align-items: center; // Centraliza a imagem verticalmente
                    order: 1;

                    img {
                        width: 50%; // Controla a largura da imagem
                        //max-width: 300px; // Define o tamanho máximo da imagem
                        height: auto; // Mantém a proporção da imagem
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    .third {
        .first-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 30px;
            gap: 32px;
            
            div {

                &.left {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 32px;
                    order: 2;

                    p {
                        max-width:350px; 
                    };
                }

                &.right {
                    display: flex;
                    justify-content: center;
                    order: 1;                    
                    img {
                        width: 100%; // Garante que a imagem ocupe 100% da largura da div
                        height: auto; // Mantém a proporção da imagem ao ajustar a largura
                        object-fit: cover; // Faz a imagem cobrir todo o espaço da div, cortando se necessário

                        // Exibe a imagem menor por padrão (mobile-first)
                        &:nth-child(1) {
                            display: block;
                        }

                        // Esconde a imagem maior por padrão
                        &:nth-child(2) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @include for-tablet-portrait-up() {
        .first {
            .first-wrapper {
                flex-direction: row;

                div {
                    &.left {

                        align-items: flex-start;
                    }

                    &.right {
                        img {
                            max-width: 600px;
                            // Exibe a imagem menor por padrão (mobile-first)
                            &:nth-child(1) {
                                display: none;
                            }
                            // Esconde a imagem maior por padrão
                            &:nth-child(2) {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .second {
            .second-wrapper {
                flex-direction: row;
                width: 890px;
                div {
                    &.left {
                        align-items: flex-start;
                        order: 1;
                    }
                    &.right {
                        order: 2;
                        img {
                            width: 350px; // Controla a largura da imagem
                        }
                    }
                }
            }
        }

        .third {
            .first-wrapper {
                flex-direction: row;

                div {
                    &.left {

                        align-items: flex-start;
                    }

                    &.right {

    
                        img {

                            max-width: 600px;
    
                            // Exibe a imagem menor por padrão (mobile-first)
                            &:nth-child(1) {
                                display: none;
                            }
                            // Esconde a imagem maior por padrão
                            &:nth-child(2) {
                                display: block;
                            }
                        }
                    }               
                }
            }
        }
    }

    @include for-tablet-landscape-up() {
    }

    @include for-desktop-up() {
    }
}